doctype html
html
  head
    title Members Only
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      include includes/header 

    block content
    footer 
      include includes/footer 
